<div class="row">
    {{#if hostname}}
        <div class="control-label col-md-3">Bridge information</div>
        <div class="col-md-9">
            <p>Hostname: {{hostname.value}}</p>
        </div>
    {{else}}
        <div class="control-label col-md-3">Select a Philips Hue bridge:</div>
        <div class="col-md-9">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Bridges on your network</h4>
                        <div class="panel-action">
                            <a href="javascript:;" data-toggle="bridge-refresh" data-init-load="true"><i class="ion-refresh"></i></a>
                        </div><!--.panel-action-->
                    </div>
                </div><!--.panel-heading-->
                <div class="panel-body without-padding">
                    <ul id="list-bridges" class="list-material">
                        <!-- list is loaded via the socket -->
                    </ul>
                </div>
            </div>
        </div>
    {{/if}}
</div>

<!-- Modals -->
<div class="modal scale fade" id="push-link-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Connect to Philips Hue bridge</h4>
            </div>
            <div class="modal-body">
                <svg class="icon-push-link" role="img" width="100%">
                    <title>Push-Link button</title>
                    <use xlink:href="/assets/roomie/img/icons/hue/push-link/pushlink_bridgev2.svg#Layer_1"></use>
                </svg>
                Please press the button on your Philips Hue bridge and the connect using the button below.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="push-link-connect" class="btn btn-flat btn-primary">Connect</button>
            </div>
        </div><!--.modal-content-->
    </div><!--.modal-dialog-->
</div><!--.modal-->
<!-- End of Modals -->

{{#section 'scripts'}}
    <script src="/assets/roomie/js/settings/lights.js"></script>
{{/section}}