{{#section 'css'}}
    <link rel="stylesheet" href="/assets/globals/plugins/pnikolov-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/assets/globals/plugins/minicolors/jquery.minicolors.css">
{{/section}}

<div class="row">
    <div class="col-md-4">
        <div class="card card-news-more card-clickable card-clickable-over-content">
            <div class="card-heading bg-image bg-opaque5">
                <div class="heading-content">
                    <span class="badge">NEWS</span>
                    <span class="headline">Quickly maximize timely deliverables</span>
                    <button class="btn btn-floating btn-pink toggle-card-news-more"><i class="ion-android-create"></i></button>
                </div>
            </div>
            <div class="card-body">
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title"><h4>Lights</h4></div>
            </div><!--.panel-heading-->
            <div class="panel-body without-padding">
                <ul class="list-material">
                    <li class="has-action-left has-action-right">
                        <a href="#" class="visible">
                            <div class="list-action-left">
                                <svg class="icon-light" role="img" width="100%">
                                    <title>Light</title>
                                    <use xlink:href="/assets/roomie/img/icons/hue/products/go.svg#Layer_1"></use>
                                </svg>
                            </div>
                            <div class="list-content">
                                <span class="title">Cool lamp</span>
                                <span class="caption">Lamp type</span>
                            </div>
                            <div class="list-action-right">
                                <i class="ion-android-alert center"></i>
                            </div>
                        </a>
                    </li>
                    <li class="has-action-left has-action-right">
                        <a href="#" class="visible">
                            <div class="list-action-left">
                                <img src="../../assets/globals/img/faces/2.jpg" class="face-radius" alt="">
                            </div>
                            <div class="list-content">
                                <span class="title">Terry Carter</span>
                                <span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
                            </div>
                            <div class="list-action-right">
                                <i class="ion-android-alert center"></i>
                            </div>
                        </a>
                    </li>
                    <li class="has-action-left has-action-right">
                        <a href="#" class="visible">
                            <div class="list-action-left">
                                <img src="../../assets/globals/img/faces/3.jpg" class="face-radius" alt="">
                            </div>
                            <div class="list-content">
                                <span class="title">Jeremy Lawrence</span>
                                <span class="caption">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</span>
                            </div>
                            <div class="list-action-right">
                                <i class="ion-android-alert center"></i>
                            </div>
                        </a>
                    </li>
                    <li class="has-action-left has-action-right">
                        <a href="#" class="visible">
                            <div class="list-action-left">
                                <svg class="icon-light" role="img" width="100%">
                                    <title>Light</title>
                                    <use xlink:href="/assets/roomie/img/icons/hue/products/go.svg#Layer_1"></use>
                                </svg>
                            </div>
                            <div class="list-content">
                                <span class="title">Cool lamp</span>
                                <span class="caption">Lamp type</span>
                            </div>
                            <div class="list-action-right">
                                <i class="ion-android-alert center"></i>
                            </div>
                        </a>
                    </li>
                    <li class="has-action-left has-action-right">
                        <a href="#" class="visible">
                            <div class="list-action-left">
                                <svg class="icon-light" role="img" width="100%">
                                    <title>Light</title>
                                    <use xlink:href="/assets/roomie/img/icons/hue/products/go.svg#Layer_1"></use>
                                </svg>
                            </div>
                            <div class="list-content">
                                <span class="title">Cool lamp</span>
                                <span class="caption">Lamp type</span>
                            </div>
                            <div class="list-action-right">
                                <i class="ion-android-alert center"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!--.panel-body-->
        </div><!--.panel-->
    </div>
</div>

{{#section 'plugins'}}
    <script src="/assets/globals/plugins/pnikolov-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="/assets/globals/plugins/minicolors/jquery.minicolors.min.js"></script>
{{/section}}

{{#section 'scripts'}}
    <script src="/assets/roomie/js/rooms/lights.js"></script>
{{/section}}