{{#section 'css'}}
    <link rel="stylesheet" href="/assets/globals/plugins/pnikolov-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="/assets/globals/plugins/minicolors/jquery.minicolors.css">
{{/section}}

<div class="row">
    <div class="col-md-4">
        <div class="card card-news-more card-clickable card-clickable-over-content">
            <div class="card-heading bg-image bg-opaque5">
                <div class="heading-content">
                    <span class="badge">NEWS</span>
                    <span class="headline">Quickly maximize timely deliverables</span>
                    <button class="btn btn-floating btn-pink toggle-card-news-more"><i class="ion-android-create"></i></button>
                </div>
            </div>
            <div class="card-body">
                <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-deep-purple card-image bg-image sample-bg-image4 card-clickable">

            <div class="context">
                <span class="text-title">Card</span>
            </div>

            <div class="clickable-button">
                <div class="layer bg-red"></div>
                <a class="btn btn-floating btn-red initial-position floating-open"><i class="ion-android-more-horizontal"></i></a>
            </div>

            <div class="layered-content bg-red">
                <div class="overflow-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="ion-power"></i>
                        </div>
                        <div class="col-sm-8">
                            <div class="switcher">
                                <input id="light-switch" type="checkbox" hidden="hidden">
                                <label for="light-switch"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="inputer">
                                <div class="input-wrapper">
                                    <input type="text" class="form-control minicolors" data-control="wheel" data-letterCase="uppercase" value="#ff99ee">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clickable-close-button">
                    <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>

{{#section 'plugins'}}
    <script src="/assets/globals/plugins/pnikolov-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="/assets/globals/plugins/minicolors/jquery.minicolors.min.js"></script>
{{/section}}

{{#section 'scripts'}}
    <script src="/assets/roomie/js/rooms/lights.js"></script>
{{/section}}